@CHARSET "US-ASCII";

body {
	background-image: url(http://wallpaperscraft.com/image/39053/2560x1600.jpg);
    font-family: "Helvetica Neue", Helvetica, Arial;
    padding-top: 20px;
}

.container {
    width: 406px;
    max-width: 406px;
    margin: 0 auto;
}

h1{
	 color: #000066;
	 padding: 0px 25px 25px;
	 margin-bottom: 5px;
	 
}

p{
	color: #000066;
	padding: 0px 10px 10px;
	margin-bottom: 5px;
}

a{
	font-size: 20px;
}
a:link {
 color : #000066;
 text-decoration: none
}

a:visited {
 color : #993333;
 text-decoration: none
}

A:HOVER {
 color : #009999;
 text-decoration : underline;
}

A:ACTIVE {
 color : #009999;
 text-decoration: underline
}


#signup {
    padding: 0px 25px 25px;
    background: #fff;
    box-shadow: 
        0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
        0px 4px 20px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: table;
    position: static;
}

#signup .header {
    margin-bottom: 20px;
}

#signup .header h3 {
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

#signup p{
	color: #646464;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 7px;
    display: block;
}


#signup .header p {
    color: #8f8f8f;
    font-size: 14px;
    font-weight: 300;
}

#signup .sep {
    height: 1px;
    background: #e8e8e8;
    width: 406px;
    margin: 0px -25px;
}

#signup .inputs h:focus {
    background: #f5f5f5;
    font-size: 0.8rem;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 330px;
    margin-bottom: 20px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
    clear: both;
}

